.Employees {
  display: flex;
  flex-direction: column;
}

.EmployeeRow {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
}

.EmployeeRow:first-child {
  border-top: 1px solid #ddd;
}

.EmployeeCell {
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.EmployeeCell:first-child {
  border-left: 1px solid #ddd;
}
