.Input {
  display: flex;
  flex-shrink: 0;
  width: 10rem;
  height: 3rem;
  box-sizing: border-box;
  padding: 0 1rem;
  border: 1px solid #ddd;
  border-radius: .2rem;
  text-transform: uppercase;
}

.Input:invalid {
  border: 1px solid #dc3545;
}

.Input::placeholder {
  opacity: .2;
}
