:root {
  --background-colour: #fff;
  --background-color-invert: #eee;
  --border-colour: #ddd;
  --border-width: 1px;
  --colour: #333;
  --colour-invert: #333;
}

.Rota {
  display: flex;
  flex-direction: column;
}

.Rota-row {
  display: flex;
  flex-direction: row;
  color: var(--colour);
  background-color: var(--background-colour);
  border-bottom: var(--border-width) solid var(--border-colour);
}

.Rota-cell {
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40px;
  padding: 10px 0;
  text-align: center;
  border-right: var(--border-width) solid var(--border-colour);
}

.Rota-cell.wide {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 80px;
}

.Rota-cell.soft-border {
  border-right: var(--border-width) dashed var(--border-colour);
}

.header {
  font-weight: bold;
  text-transform: uppercase;
}

.invert {
  background-color: var(--background-color-invert);
  color: var(--colour-invert);
}
