.Rota {
  display: flex;
  flex-direction: column;
}

.Rota-row {
  display: flex;
  flex-direction: row;
}

.Rota-cell {
  box-sizing: border-box;
  flex: 1;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
}

.Rota-row:first-child .Rota-cell {
  border-top: 1px solid #f0f0f0;
}

.Rota-cell:first-child {
  border-left: 1px solid #f0f0f0;
}

.Rota-cell.wide {
  flex: 2;
}

.header {
  font-weight: bold;
  text-transform: uppercase;
}

.invert {
  background-color: #000;
  color: white;
}

.invert .Rota-cell {
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}
