.Button {
  display: flex;
  box-sizing: border-box;
  padding: 8px 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.Button {
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
}

.Button[disabled] {
  color: #ccc;
  background-color: #eee;
  box-shadow: none;
}

.Button.small {
  padding: .2rem 1rem;
  box-shadow: none;
  border: none;
  border-radius: 2px;
}

.Button.success {
  color: #fff;
  background-color: #247f0c;
}

.Button.info {
  color: #fff;
  background-color: #1e7da5;
}

.Button.danger {
  color: #fff;
  background-color: #b20000;
}
