.Button {
  cursor: pointer;
  display: flex;
  height: 3rem;
  flex-basis: 5rem;
  justify-content: center;
  box-sizing: border-box;
  border: none;
  border-radius: .2rem;
  text-transform: uppercase;
}

.Button[disabled] {
  opacity: .65;
}

.Button.small {
  height: 2rem;
  flex-basis: 4rem;
}

.Button.success {
  color: #fff;
  background-color: #28a745;
}

.Button.success:not([disabled]):hover {
  background-color: #218838;
}

.Button.info {
  color: #fff;
  background-color: #138496;
}

.Button.info:not([disabled]):hover {
  background-color: #117a8b;
}

.Button.danger {
  color: #fff;
  background-color: #dc3545;
}

.Button.danger:not([disabled]):hover {
  background-color: #c82333;
}
