.CloseButton {
  cursor: pointer;
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #b20000;
  border-left: 1px solid #ddd;
}

.CloseButton::after {
  content: 'X';
}
