.Nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
  background-color: #111;
  border-bottom: 1px solid #222;
}

.NavItem {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  box-sizing: border-box;
  padding: 8px 20px;
  border-right: 1px solid #222;
  color: #ddd;
  background-color: #111;
}

.NavItem:hover {
  color: #fff;
}

.NavItem:hover .NavItemDropDown {
  display: block;
}

.NavItem:first-child {
  border-left: 1px solid #222;
}

.NavItemLabel {
  font-weight: bold;
  text-transform: uppercase;
}

.NavItemDropDown {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  width: calc(100% + 1px);
}

.NavItemDropDown .NavItem {
  border-top: 1px solid #222;
}

.NavItemDropDown .NavItem:last-child {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
