.PeriodSelector-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 20px 20px 55px 20px;
}

.PeriodSelector {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
  background-color: #eee;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

.PeriodSelector-controls {
  margin-right: 20px;
}

.PeriodSelectorHeader {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  font-weight: bold;
  height: 35px;
}

.CloseButton-wrapper {
  width: 50px;
  height: 35px;
}

.PeriodSelectorHeader-description {
  flex: 1;
  margin-left: 10px;
  text-transform: uppercase;
}

.PeriodSelectorHeader-controls {
}

.PeriodTimePicker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 350px;
  box-sizing: border-box;
  padding: 20px;
  font-size: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.PeriodTimePicker-label {
  flex-basis: 85px;
  align-self: center;
  text-transform: uppercase;
}

.PeriodTimePicker-controls {
}

.TimePicker {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.TimePicker-label {
  flex-basis: 75px;
  text-align: right;
  margin-right: 10px;
}

.TimePicker-picker {
  width: 100px;
}

.TimePicker-separator {
  margin-bottom: 10px;
}
